@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: black;
    font-family: "Open Sans", sans-serif;
}

.output-screen{
    height: 200px;
    position: relative;
}

.output-screen span{
    color: white;
    font-size: 50px;
}

.buttons-container{
    border-top: solid 2px rgb(101, 101, 101);
}

.buttons-container .row{
    display: flex;
    justify-content: space-around;
}

.buttons-container .row span{
    display: inline-flex;
    border: solid 2px palevioletred;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 10px 0;
    transition: background-color 0.2s, transform 0.1s; /* Add transition */
    cursor: pointer;
}

.row5 :last-child{
    border: none !important;
    background-color: rgb(224, 93, 73) !important;
}

.row :last-child{
    border: none !important;
    background-color: rgba(129, 128, 128, 0.961);
}

.buttons-container .row span:active {
    background-color: #444 !important;
    transform: scale(0.95);
}

.row :last-child:active {
    background-color: #656565 !important;
}

.row5 :last-child:active {
    background-color: #c13e2a !important;
}

.equation{
    width: 100%;
    overflow: scroll;
    position: absolute;
    right: 0px;
    text-align: right;
    white-space: nowrap;
    scrollbar-width: none;
}

.answer{
   position: absolute;
   bottom: 1px;
   right: 1px;
}