@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Roboto", serif;
}

.main-container{
  border: solid 2px red;
  margin: 10px;
}

.inputs{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.inputs input{
  margin-bottom: 10px;
}

#add-button{
  height: 20px;
  width: 20px;
  position: absolute;
  right: 1px;
  bottom: 10px;
  padding-right: 2rem;
  z-index: 1;
}

#remove-button{
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 10px;
}

.options{
  display: flex;
  flex-direction: column;
  padding: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.options label{
  font-size: 20px;
}

.button{
  border: solid 2px green;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  background-color: #0076d7;
  color: white;
  font-style: bold;
}

.output{
  font-size: 20px;
  padding-bottom: 30px;
}

.input-group{
  position: relative;
}